name: auth-adapter-v1

container:
  image:
    repository: miguelarmasabt/auth-adapter
    tag: "v1.0.1"
  port: 8011
  variables:
    config-map:
      KEYCLOAK_DOMAIN: "keycloak-server:8080"
      JAVA_OPTS: "-Xms256M -Xmx256M"
    secrets:
      KEYCLOAK_KEY_RS256: "mH6KTBOtG3B8_UcrOvA6zPn23SdGeqpp5YOp-MHR0Fo"
  compose:
    host-port: 8011
    volumes: none
    dependencies: none

k8s:
  helm-template: HEALTHY
  namespace: restaurant
  image-pull-policy: IfNotPresent
  service:
    node-port: 30011
  deployment:
    replicas: 1
    container-resources:
      requests:
        memory: "256Mi"
        cpu: "500m"
      limits:
        memory: "512Mi"
        cpu: "1"
  hpa:
    enabled: true
    min-replicas: 1
    max-replicas: 2
    cpu:
      target-average-utilization: 80
    memory:
      target-average-utilization: 70
  liveness-probe:
    path: /actuator/health/liveness
    port: 8011
    initial-delay-seconds: 60
    period-seconds: 30
    timeout-seconds: 5
    failure-threshold: 3
  readiness-probe:
    path: /actuator/health/readiness
    port: 8011
    initial-delay-seconds: 60
    period-seconds: 30
