name: product-v1

container:
  image:
    repository: miguelarmasabt/product
    tag: "v1.0.1"
    pullPolicy: IfNotPresent
  port: 8017
  resources:
    requests:
      memory: "256Mi"
      cpu: "500m"
    limits:
      memory: "512Mi"
      cpu: "1"
  livenessProbe:
    path: /actuator/health/liveness
    port: 8017
    initialDelaySeconds: 60
    periodSeconds: 30
    timeoutSeconds: 5
    failureThreshold: 3
  readinessProbe:
    path: /actuator/health/readiness
    port: 8017
    initialDelaySeconds: 60
    periodSeconds: 30

configMaps:
  DATABASE_HOST: "mysql-db:3306"
  DATABASE_USER: "poc_user"
  DATABASE_NAME: "db_products"

secrets:
  DATABASE_PASSWORD: "qwerty"

service:
  nodePort: 30017

deployment:
  replicas: 1

hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 2
  cpu:
    targetAverageUtilization: 80
  memory:
    targetAverageUtilization: 70

namespace: restaurant
helmTemplate: default

docker:
  hostPort: 8017
  dependencies: mysql-db
  volumes: none