---
# Source: generic-server-chart/templates/secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: product-v1-secret
type: Opaque
data:
    MYSQL_PASSWORD: "cXdlcnR5"
---
# Source: generic-server-chart/templates/configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: product-v1-config-map
data:
    DATABASE: "db_products"
    MYSQL_HOST: "mysql-db:3306"
    MYSQL_USERNAME: "bbq_user"
---
# Source: generic-server-chart/templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: product-v1
  labels:
    app: product-v1
spec:
  type: NodePort
  selector:
    app: product-v1
  ipFamilies:
    - IPv4
  ports:
    - name: product-v1
      port: 8017
      nodePort: 30017
---
# Source: generic-server-chart/templates/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-v1
  labels:
    app: product-v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-v1
  template:
    metadata:
      labels:
        app: product-v1
    spec:
      containers:
        - name: product-v1
          image: "miguelarmasabt/product:v1.0.1"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8017

          resources:
            requests:
              memory: "256Mi"
              cpu: "500m"
            limits:
              memory: "512Mi"
              cpu: "1"

          env:
              - name: DATABASE
                valueFrom:
                  configMapKeyRef:
                    name: product-v1-config-map
                    key: DATABASE
              - name: MYSQL_HOST
                valueFrom:
                  configMapKeyRef:
                    name: product-v1-config-map
                    key: MYSQL_HOST
              - name: MYSQL_USERNAME
                valueFrom:
                  configMapKeyRef:
                    name: product-v1-config-map
                    key: MYSQL_USERNAME
              - name: MYSQL_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: product-v1-secret
                    key: MYSQL_PASSWORD
