---
# Source: generic-server-chart/templates/secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: product-v1-secret
type: Opaque
data:
    DATABASE_PASSWORD: "cXdlcnR5"
---
# Source: generic-server-chart/templates/configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: product-v1-config-map
data:
    DATABASE_HOST: "mysql-db:3306"
    DATABASE_NAME: "db_products"
    DATABASE_USER: "poc_user"
---
# Source: generic-server-chart/templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: product-v1
  labels:
    app: product-v1
spec:
  type: NodePort
  selector:
    app: product-v1
  ipFamilies:
    - IPv4
  ports:
    - name: product-v1
      port: 8017
      nodePort: 30017
---
# Source: generic-server-chart/templates/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-v1
  labels:
    app: product-v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-v1
  template:
    metadata:
      labels:
        app: product-v1
    spec:
      containers:
        - name: product-v1
          image: "miguelarmasabt/product:v1.0.1"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8017

          resources:
            requests:
              memory: "256Mi"
              cpu: "500m"
            limits:
              memory: "512Mi"
              cpu: "1"

          env:
              - name: DATABASE_HOST
                valueFrom:
                  configMapKeyRef:
                    name: product-v1-config-map
                    key: DATABASE_HOST
              - name: DATABASE_NAME
                valueFrom:
                  configMapKeyRef:
                    name: product-v1-config-map
                    key: DATABASE_NAME
              - name: DATABASE_USER
                valueFrom:
                  configMapKeyRef:
                    name: product-v1-config-map
                    key: DATABASE_USER
              - name: DATABASE_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: product-v1-secret
                    key: DATABASE_PASSWORD
---
# Source: generic-server-chart/templates/hpa.yaml
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: product-v1-hpa
  labels:
    app: product-v1
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: product-v1
  minReplicas: 1
  maxReplicas: 2
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 80
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 70
