apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.name }}
  labels:
    app: {{ .Values.name }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.name }}
    spec:
      containers:
        - name: {{ .Values.name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.ports.containerPort }}

          resources:
            requests:
              memory: "{{ .Values.resources.requests.memory }}"
              cpu: "{{ .Values.resources.requests.cpu }}"
            limits:
              memory: "{{ .Values.resources.limits.memory }}"
              cpu: "{{ .Values.resources.limits.cpu }}"

          env:
            {{- if .Values.configMaps }}
              {{- range $key, $value := .Values.configMaps }}
              - name: {{ upper $key | replace "-" "_" }}
                valueFrom:
                  configMapKeyRef:
                    name: {{ $.Values.name }}-config
                    key: {{ $key }}
              {{- end }}
              {{- end }}

              {{- if .Values.secrets }}
              {{- range $key, $value := .Values.secrets }}
              - name: {{ upper $key | replace "-" "_" }}
                valueFrom:
                  secretKeyRef:
                    name: {{ $.Values.name }}-secret
                    key: {{ $key }}
              {{- end }}
              {{- end }}
