name: menu-v1

container:
  image:
    repository: miguelarmasabt/menu
    tag: "v1.0.1"
  port: 8012
  variables:
    config-map:
      MYSQL_DOMAIN: "mysql-db:3306"
      MYSQL_USERNAME: "poc_user"
      PRODUCT_DOMAIN: "product-v1:8017"
      JAVA_OPTS: "-Dquarkus.http.host=0.0.0.0 -Djava.util.logging.manager=org.jboss.logmanager.LogManager -Dquarkus-profile=dev"
    secrets:
      MYSQL_PASSWORD: "qwerty"
  compose:
    host-port: 8012
    volumes: none
    dependencies: mysql-db

k8s:
  helm-template: HEALTHY
  namespace: restaurant
  image-pull-policy: IfNotPresent
  service:
    node-port: 30012
  deployment:
    replicas: 1
    container-resources:
      requests:
        memory: "256Mi"
        cpu: "500m"
      limits:
        memory: "512Mi"
        cpu: "1"
  hpa:
    enabled: true
    min-replicas: 1
    max-replicas: 2
    cpu:
      target-average-utilization: 80
    memory:
      target-average-utilization: 70
  liveness-probe:
    path: /q/health/live
    port: 8012
    initial-delay-seconds: 60
    period-seconds: 30
    timeout-seconds: 5
    failure-threshold: 3
  readiness-probe:
    path: /q/health/ready
    port: 8012
    initial-delay-seconds: 60
    period-seconds: 30
