name: order-hub-v1

container:
  image:
    repository: miguelarmasabt/order-hub
    tag: "v1.0.1"
  port: 8018
  variables:
    config-map:
      CONFIG_SERVER_DOMAIN: "config-server-v1:8888"
      MENU_V1_DOMAIN: "menu-v1:8012"
      TABLE_PLACEMENT_DOMAIN: "table-placement-v1:8013"
      INVOICE_DOMAIN: "invoice-v1:8014"
      JAVA_OPTS: "-Xms256M -Xmx256M"
  compose:
    host-port: 8018
    volumes: none
    dependencies: config-server-v1;redis-server

k8s:
  helm-template: HEALTHY
  namespace: restaurant
  image-pull-policy: IfNotPresent
  service:
    node-port: 30018
  deployment:
    replicas: 1
    container-resources:
      requests:
        memory: "256Mi"
        cpu: "500m"
      limits:
        memory: "512Mi"
        cpu: "1"
  hpa:
    enabled: true
    min-replicas: 1
    max-replicas: 2
    cpu:
      target-average-utilization: 80
    memory:
      target-average-utilization: 70
  liveness-probe:
    path: /actuator/health/liveness
    port: 8018
    initial-delay-seconds: 60
    period-seconds: 30
    timeout-seconds: 5
    failure-threshold: 3
  readiness-probe:
    path: /actuator/health/readiness
    port: 8018
    initial-delay-seconds: 60
    period-seconds: 30
